/*Fuentes de Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Charm|Open+Sans|Palanquin|Unna');

body{
  font-family: 'Open Sans', sans-serif;
}
header img {
  width: 100%;
}
nav{
  background: #191528;
  height: 8%;
  padding:5px 0;
}
ul{
  display:grid;
  grid-template-columns: 18% 18% 18% 18% 18%;
  grid-gap: 2%
}
li{
  font-size:16px;
  color: white;
  text-align: center;
  list-style: none;
}
li a{
  text-decoration: none;
  color: white;
}
li a:hover{
  color:#3faebf;
}
#seccion-a{
  margin: 0 100px;
}
h1{
  color:#3faebf;
  font-size: 28px;
  text-align: center;
}
.contenedor-a{
  display: grid;
  grid-template-columns: 45% 50%;
  grid-gap: 5%;
  padding-top: 30px;
  height: 350px;
}
#contenedor-b{
  padding-top: 90px;
  margin-left: 10%
}
section p, address{
  line-height: 30px;
  text-align: left;
}
iframe{
  width:90%;
  height:90%;
  margin-right: 10%;
  filter: grayscale(90%) brightness(100%);
}
#seccion-b{
  background:#e4eaef;
  padding-top:15px;
  height: 500px;
}
form{
  width: 40%;
  margin: 0 auto;
}
form div{
  padding: 14px 0;
}
label {
  font-size: 16px;
  color: #191528;
}
input{
  width: 75%;
  height: 20px;
  border-style: none;
}
#casilla-1{
  margin-left: 12px;
}
#casilla-2{
  margin-left: 5px;
}
#casilla-3{
  margin-left: 30px;
}
textarea{
  height: 100px;
  width: 75%;
  margin-left: 10px;
  border-style: none;
}
button {
  margin: 20px 0 0 35%;
  height: 35px;
  width: 120px;
  border-radius: 2px;
  font-size:16px;
  background: #3faebf;
  color:white;
}
button:hover{
  background: white;
  color:#191528;
}
.iconos{
  padding-left: 37%;
}
a{
  color:#3faebf;
}
i{
  margin:25px;
  font-size: 50px;
}
i:hover{
  transform: scale(1.2, 1.2) rotate(45deg);
  color: #e4eaef;
  transition-property: all;
  transition-duration: 0.5s;
}
footer{
  background: #191528;
  height: 10%;
  padding: 1%;
}
footer p {
  text-align: center;
  color: white;
}